@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/circular/CircularStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/circular/CircularStd-Book.otf') format('opentype');
  src: url('/fonts/circular/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/circular/CircularStd-Medium.otf') format('opentype');
  src: url('/fonts/circular/CircularStd-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/circular/CircularStd-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
